:root {
  --calc-bg: #333333;
  --op-btn-hover: hsl(39, 100%, 40%);
  --op-btn-bg: hsl(39, 100%, 50%);
  --op-btn-active: hsl(39, 100%, 60%);
  --clear-btn-hover: hsl(0, 0%, 40%);
  --clear-btn-bg: hsl(0, 0%, 50%);
  --clear-btn-active: hsl(0, 0%, 60%);
}

[data-theme="dark"] {
  --calc-bg: #3aa3ab;
  --op-btn-bg: orange;
  --op-btn-hover: darkgoldenrod;
  --op-btn-active: darkorange;
  --clear-btn-bg: grey;
  --clear-btn-hover: #b0b0b0;
  --clear-btn-active: lightgrey;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  height: 100vh;
}

div,
button {
  border: none;
  border-radius: 10px;
}

#calculator {
  background-color: var(--calc-bg);
  border: 20px solid var(--calc-bg);
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(6, minmax(100px, 1fr));
  overflow: hidden;
  gap: 8px;
  flex: 0 0 auto;
}

#display {
  background-color: lightgrey;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5%;
}

#memo {
  font-size: 1rem;
  font-weight: normal;
  align-self: flex-start;
  padding-left: 5%;
  padding-top: 2.5%;
}

#current-operand {
  font-size: 2.5rem;
  align-self: flex-end;
}

.op-btn {
  color: white;
  background-color: var(--op-btn-bg);
}

.op-btn:hover {
  background-color: var(--op-btn-hover);
}

.op-btn:active {
  background-color: var(--op-btn-active);
}

.op-btn:disabled {
  background-color: var(--op-btn-hover);
}

.clear-btn:hover {
  background-color: var(--clear-btn-hover);
}

.clear-btn:active {
  background-color: var(--clear-btn-active);
}

.clear-btn {
  background-color: var(--clear-btn-bg);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

/***
* THEME SWITCH
*/
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
