:root {
  --body-bg: #eaeaea;
  --calc-bg: #333333;
  --display-bg: lightgrey;
  --display-font-color: black;
  --op-btn-hover: hsl(39, 100%, 40%);
  --op-btn-bg: hsl(39, 100%, 50%);
  --op-btn-active: hsl(39, 100%, 60%);
  --op-btn-font-color: white;
  --clear-btn-hover: hsl(0, 0%, 40%);
  --clear-btn-bg: hsl(0, 0%, 50%);
  --clear-btn-active: hsl(0, 0%, 60%);
  --clear-btn-font-color: black;
  --num-btn-hover: #aeaeae;
  --num-btn-bg: #e9e9ed;
  --num-btn-active: #f4f4f4;
  --num-btn-font-color: black;
}

[data-theme="dark"] {
  --body-bg: #333333;
  --calc-bg: #eaeaea;
  --display-bg: #555555;
  --display-font-color: lightgrey;
  --op-btn-hover: hsl(39, 100%, 20%);
  --op-btn-bg: hsl(39, 100%, 30%);
  --op-btn-active: hsl(39, 100%, 40%);
  --op-btn-font-color: lightgrey;
  --clear-btn-bg: grey;
  --clear-btn-hover: #b0b0b0;
  --clear-btn-active: lightgrey;
  --clear-btn-font-color: lightgrey;
  --num-btn-hover: #222222;
  --num-btn-bg: #333333;
  --num-btn-active: #444444;
  --num-btn-font-color: lightgrey;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--body-bg);
  font-family: monospace;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  height: 100vh;
}

div,
button {
  border: none;
  border-radius: 10px;
}

dialog {
  background-color: var(--num-btn-bg);
  color: var(--num-btn-font-color);
  margin: auto auto;
}

dialog::backdrop {
  background-color: rgba(20, 20, 20, 0.66);
}

#calculator {
  background-color: var(--calc-bg);
  border: 20px solid var(--calc-bg);
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 35px repeat(6, 75px);
  overflow: hidden;
  gap: 8px;
  flex: 0 0 auto;
}

#calc-name {
  grid-column: 1 / 4;
  color: var(--num-btn-bg);
  font-size: 1.33rem;
  text-align: left;
}

#theme-btn {
  grid-column: 4;
  font-weight: normal;
  font-size: 1.33rem;
  border-radius: 25px;
}

#display {
  background-color: var(--display-bg);
  color: var(--display-font-color);
  grid-column: 1 / -1;
  padding: 1% 3%;
}

#memo {
  height: 15px;
  width: 100%;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}

#current-operand {
  height: 60px;
  width: 100%;
  font-size: 2.5rem;
  text-align: right;
}

button {
  color: var(--num-btn-font-color);
  background-color: var(--num-btn-bg);
}

button:hover {
  background-color: var(--num-btn-hover);
}

button:active {
  background-color: var(--num-btn-active);
}

#back-btn {
  padding-right: 9px;
}

.op-btn,
.equals {
  color: var(--op-btn-font-color);
  background-color: var(--op-btn-bg);
}

.op-btn:hover,
.equals:hover {
  background-color: var(--op-btn-hover);
}

.op-btn:active,
.equals:active {
  background-color: var(--op-btn-active);
}

.op-btn:focus {
  background-color: var(--op-btn-hover);
}

.clear-btn,
.close {
  color: var(--clear-btn-font-color);
  background-color: var(--clear-btn-bg);
}

.clear-btn:hover,
.close:hover {
  background-color: var(--clear-btn-hover);
}

.clear-btn:active,
.close:active {
  background-color: var(--clear-btn-active);
}
