:root {
  --body-bg: hsla(0, 0%, 0%, 0.85);

  --calc-bg: #1c1c1c;

  --op-btn-active: hsl(35, 100%, 80%);
  --op-btn-bg: hsl(35, 100%, 50%);
  --op-btn-hover: hsl(35, 100%, 35%);
  --op-btn-font-color: white;
  --op-btn-active-font-color: var(--op-btn-hover);

  --clear-btn-bg: hsl(60, 2%, 60%);
  --clear-btn-hover: hsl(60, 2%, 70%);
  --clear-btn-font-color: hsl(0, 0%, 15%);

  --num-btn-bg: hsl(0, 0%, 30%);
  --num-btn-hover: hsl(0, 0%, 40%);
  --num-btn-font-color: white;
}

[data-theme="light"] {
  --body-bg: hsla(0, 0%, 85%, 1);

  --calc-bg: hsla(60, 8%, 90%, 1);

  --op-btn-active: hsl(232, 20%, 80%);
  --op-btn-bg: hsl(232, 20%, 65%);
  --op-btn-hover: hsl(232, 20%, 55%);
  --op-btn-font-color: white;

  --clear-btn-bg: hsl(32, 10%, 80%);
  --clear-btn-hover: hsl(32, 10%, 75%);
  --clear-btn-font-color: hsl(219, 25%, 30%);

  --num-btn-bg: hsl(45, 11%, 85%);
  --num-btn-hover: hsl(45, 11%, 80%);
  --num-btn-font-color: hsl(219, 25%, 25%);
}
